# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Build output
dist/
build/
.next/

# Environment files
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Ethereum tools
ganache-db/
*.pid

# IDEs
.vscode/
.idea/

# Truffle
artifacts/
cache/

# Misc
*.sqlite
*.bak
